.workflow {
  width: 1280px;
}

.prompt-card-user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  width: 36px;
  height: 36px;
  color: #fff;
}

.api-list-grid .ant-checkbox-group-item {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
}